# SPDX-FileCopyrightText: 2016-2021 Damien P. George <http://micropython.org/>
#
# SPDX-License-Identifier: MIT
#
# SPDX-FileCopyrightText: © 2021 Foundation Devices, Inc. <hello@foundation.xyz>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# You will need SDL2 library installed to make use of this: on Mac, that means:
#
#   brew install sdl2
#
PySDL2
Pillow
opencv-python
imageio
